{% load static %} <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Empresa{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'historia' %}">Quiénes Somos</a>
        <a href="#">Servicios</a>
        <a href="#">Contacto</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Empresa S.L.</p>
    </footer>

</body>
</html>